<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Chat Real Time</title>
</head>
<body>
    <div class="container w-100 w-md-50">
        <h1>Chat Real Time</h1>

        <div>Bem Vindo <%= user.name %><strong>#<%= user.code %></strong></div>
        <div id="chat" class="border border-dark rounded p-2" style="height: 50vh; overflow-y: scroll;"></div>
        <input type="text" id="msg" class="form-control my-1" placeholder="Escreva sua mensagem aqui...">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" onclick="sendMessage()">Enviar Mensagem</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        var user = {
            name: "<%= user.name %>",
            code: parseInt("<%= user.code %>"),
            description: "<%= user.description %>",
            gameID: parseInt("<%= user.gameID %>")
        }

        // Criação do socket cliente
        var socket = io("http://localhost:3000");

        // Envia dados para o socket do servidor
        socket.emit("connected", user);

        // Recebe dados do socket do servidor
        socket.on("connected", (data) => {
            // Renderiza os usuários da sala conectada
            user.roomID = data.id;
        });

        socket.on("message", (data) => {
            showMessage(data);
        });

        $.on("keydown", (event) => {
            if(event.keyCode === 13) sendMessage();
        });

        function sendMessage(){
            let message = document.querySelector("#msg").value;

            if(message != ''){
                socket.emit("sendMessage", {user: user.name + "#" + user.code, message, id: user.roomID});
                document.querySelector("#msg").value = '';
            }
        }

        function showMessage(data){
            let divEl = document.createElement('div');
            let strongEl = document.createElement('strong');
            let spanEl = document.createElement('span');

            strongEl.innerHTML = data.user + ": ";
            spanEl.innerHTML = data.message;

            divEl.appendChild(strongEl);
            divEl.appendChild(spanEl);

            document.querySelector('#chat').appendChild(divEl);
        }
    </script>
</body>
</html>