<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Cadastro</title>
</head>
<body>
    <%- include("./navbar.ejs") %>
    <div class="container">
        <h1 class="display-4 text-center">Consulta Médica</h1>
        <div class="row mt-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <strong>Descrição:</strong>
                        <p><%= description %></p>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-6 mt-1">
                <div class="card">
                    <div class="card-body">
                        <strong>Nome:</strong><span><%= name %></span>
                    </div>
                  </div>
                
            </div>
            <div class="col-12 col-md-6 mt-1">
                <div class="card">
                    <div class="card-body">
                        <strong>CPF:</strong><span><%= cpf %></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-1">
                <div class="card">
                    <div class="card-body">
                        <strong>Email:</strong><span><%= email %></span>
                    </div>
                </div>
            </div>
            <% if (isOpen) { %>
                <div class="col-12 mt-3 d-flex justify-content-center">
                    <form action="/close/appointment" method="post">
                        <input type="hidden" name="id" value="<%= id %>">
                        <button class="btn btn-success">Finalizar Consulta</button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</html>